.header-four {
    .header-action, .echo-header-top-menu-bar {
        a {
            color: #fff;
        }
    }

    .echo-site-main-logo-menu-social .dropdown-toggle {
        color: #fff;
    }

    &.echo-header-area {
        .echo-header-top {
            background-color: var(--secondary-color) !important;

            .echo-header-top-menu-bar-wrapper {
                .echo-header-top-menu-bar {
                    button {
                        color: #FFFFFF !important;
                    }

                    &:before {
                        background-color: #fff !important;
                    }
                }
            }
        }

        .echo-header-top-subs-social-menu {
            .echo-header-top-subscribe-btn {
                .echo-py-btn {
                    &:hover {
                        background-color: var(--primary-color) !important;
                        border: 1px solid var(--primary-color) !important;
                    }
                }
            }
        }
    }
}

.content {
    p.desc {
        i {
            margin-inline-end: 10px !important;
        }
    }
}

.echo-footer-area4 {
    background-image: var(--background-image) !important;
}

.echo-hero-section {
    .echo-latest-news-main-content {
        .echo-latest-news-single-title {
            a.title-hover {
                font-size: 42px;
                line-height: 55px;
                margin-bottom: 30px;
            }
        }
    }

    .echo-banner-right-area-content {
        a.title {
            font-size: 20px;
            line-height: 32px;
            margin-top: 10px;
            margin-bottom: 20px;
            color: #ffffff !important;

            &:hover {
                text-decoration-color: #ffffff !important;
            }
        }
    }

    .echo-latest-news-main-content {
        --text-body-color: var(--color-heading) !important;
    }
}

.echo-latest-news-area {
    .title-area {
        h2.sub-title {
            font-weight: var(--s-bold);
            font-size: var(--h6);
            line-height: 1.25;
        }
    }
}

.echo-feature-area {
    .echo-banner-right-area-content {
        .content {
            a.title-hover {
                font-size: 20px;
                line-height: 30px;
                margin-top: 10px;
                margin-bottom: 15px;
            }
        }
    }

    .echo-latest-news-main-content {
        .echo-latest-news-single-title {
            a.title-hover {
                font-size: 30px;
                line-height: 40px;
                text-align: center;
                text-transform: capitalize;
                margin-bottom: 22px;
            }
        }
    }

    .title-area {
        .sub-title {
            line-height: 47px !important;
        }
    }
}

.echo-video-area {
    .slider-inner {
        background-image: var(--background-image) !important;
    }

    .echo-video-bottom-area {
        .banner-bottom-inner {
            a.title-hover {
                font-size: 50px;
                line-height: 60px;
                margin-top: 20px;
                margin-bottom: 25px;
                color: #ffffff !important;

                &:hover {
                    color: var(--text-color);
                }
            }
        }
    }

    .video-play-button {
        top: 35% !important;
    }
}

.echo-banner-right-area-content {
    .right-side-news {
        .content {
            a.title-hover {
                font-size: 25px;
                line-height: 35px;
                margin-top: 5px;
                margin-bottom: 15px;
                color: var(--text-color);
            }
        }
    }
}

.post-meta {
    span {
        padding: unset !important;

        i {
            margin-right: 2px !important;
        }
    }
}

.home-four {
    .echo-header-area.header-four {
        .echo-home-1-menu {
            .echo-site-main-logo-menu-social {
                background-color: var(--primary-color) !important;

                ul.echo-desktop-menu {
                    li.menu-item {
                        &:hover {
                            a.echo-dropdown-main-element {
                                color: #ffffff !important;
                            }
                        }

                        a.echo-dropdown-main-element {
                            &:hover {
                                color: #ffffff !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .content-catagory-tag {
        background-color: var(--primary-color) !important;
        font-family: var(--primary-font) !important;
        display: inline-block !important;
        max-width: 100%;
        width: auto !important;
        padding-left: 10px;
        padding-right: 10px;
    }

    .catagory-tag {
        color: var(--primary-color) !important;
    }

    .swiper-btn {
        .swiper-button-prev {
            &:hover {
                background-color: var(--primary-color) !important;
                border: 1px solid var(--primary-color) !important;
            }
        }

        .swiper-button-next {
            background-color: var(--primary-color) !important;
            border: 1px solid var(--primary-color) !important;
        }
    }

    .echo-feature-area.home-four {
        .echo-feature-area-right-site-follower {
            ul {
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px !important;
                    border: 1px solid rgba(255, 255, 255, 0.5607843137) !important;

                    &:hover {
                        a {
                            color: var(--primary-color) !important;
                        }
                    }

                    a {
                        &:hover {
                            color: var(--primary-color) !important;
                        }
                    }

                    &:nth-child(1), &:nth-child(3), &:nth-child(5) {
                        margin-inline-end: 20px !important;
                        margin-inline-start: 2px !important;
                    }
                }
            }
        }
    }

    .echo-feature-area.area-2 {
        .echo-feature-area-right-site-follower {
            ul {
                li {
                    a {
                        font-size: 12px;

                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }

    .echo-software-download-area.home-four {
        .echo-software-download-full-content-bg {
            .echo-software-download-full-content {
                .echo-software-download-text-content {
                    .echo-software-download-place {
                        a {
                            &:hover {
                                color: var(--primary-color) !important;
                            }
                        }

                        .echo-py-hover-white:hover {
                            color: var(--primary-color) !important;

                            svg {
                                path {
                                    fill: transparent !important;
                                }
                            }
                        }
                    }

                    .echo-software-download-sub-title {
                        color: #ffffff !important;
                    }
                }
            }
        }
    }

    .echo-popup-model {
        .echo-popup-transition {
            a {
                line-height: 30px !important;
            }
        }
    }

    .see-all-btn {
        &:hover {
            background-color: var(--primary-color) !important;
            border: 1px solid var(--primary-color) !important;
        }
    }

    .echo-footer-area-subscribe-button {
        background-color: var(--primary-color) !important;
    }

    p, .desc {
        font-family: var(--primary-font) !important;
        color: var(--text-body-color) !important;
    }
}

.widget-blog-post-wrapper {
    .title-area {
        margin-bottom: 20px;

        .sect-title {
            position: relative;
            color: #181823;
            margin-bottom: 0;
            text-align: center;
            font-size: 30px;
            line-height: 40px;
        }
    }

    .echo-banner-right-area-content{
        .right-side-news ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                display: flex;
                align-items: center;
                margin-top: 0;
                gap: 15px;
                margin-bottom: 0;
                padding-bottom: 25px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);

                .echo-latest-news-img {
                    flex-basis: 35%;
                    border-radius: 50%;
                }

                .content {
                    flex-basis: 65%;

                    a.title-hover {
                        color: var(--text-color) !important;

                        &:hover {
                            text-decoration-color: var(--text-color) !important;
                        }
                    }

                    .desc {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        color: #5E5E5E;

                        i {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

.inner-post {
    .widget-blog-post-wrapper {
        background-color: #f9f9f9;
        padding: 20px;
    }

    .echo-popular-hl-img {
        margin-bottom: 20px;
    }
}

.echo-header-top-date {
    span, strong {
        color: #ffffff !important;
    }
}

.echo-video-area.home-four {
    --text-body-color: #ffffff !important;
}

.echo-feature-right-area {
    .echo-feature-area-last-content {
        .echo-feature-area-last-content-text {
            background-image: var(--background-image) !important;

            a.title-hover {
                &:hover {
                    text-decoration-color: #ffffff !important;
                }
            }
        }

        .post-meta {
            .echo-hero-area-like-read-comment-share {
                color: #ffffff !important;

                span {
                    color: #ffffff !important;
                }
            }
        }
    }
}

.echo-popular-news-area {
    .title-area {
        h2 {
            color: var(--title-color) !important;
        }
    }
}

.echo-footer-area4 {
    .footer-top {
        .footer-top-inner {
            .footer-top-left {
                h3 {
                    color: var(--footer-heading-color) !important;
                }
            }
            .footer-top-right {
                p.desc {
                    color: var(--footer-text-color) !important;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .echo-feature-area.home-four {
        .echo-feature-area-full-content {
            .echo-feature-area-right-site-follower {
                ul {
                    justify-content: center;
                    li {
                        &:first-child, &:nth-child(3), &:nth-child(5) {
                            margin-inline-end: unset !important;
                            margin-inline-start: unset !important;
                        }
                    }
                }
            }
        }
    }
}

.echo-header-area.header-sticky {
    .echo-header-top-menu-bar {
        button {
            color: #FFFFFF;
        }
    }
}
