:root {
    --home-5-body-font: var(--primary-font) !important;
    --home-5-title-font: var(--heading-font) !important;
}

.echo-header-area {
    &.header-five {
        .echo-site-main-logo-menu-social {
            ul.echo-desktop-menu {
                li.menu-item {
                    .echo-dropdown-main-element {
                        color: var(--header-text-color);
                    }
                }
            }
        }
    }

    .echo-home-1-menu.header-five {
        .echo-header-top-menu-bar {
            display: block !important;
            margin-left: 25px;

            &:before {
                content: unset;
            }
        }
    }

    .language-switcher {
        a.dropdown-toggle {
            color: var(--header-text-color);
        }
    }

    &.header-five {
        --dark-color-body: var(--header-text-color);
        .account-actions,  {
            .dropdown-toggle {
                i {
                    color: var(--header-text-color);
                }

                &:after {
                    border-top: 0.3em solid var(--header-text-color) !important;
                }
            }
        }

        .header-action {
            .rts-darkmode {
                .rts-dark-light {
                    i {
                        color: var(--header-text-color) !important;
                    }
                }
            }

            .search-icon {
                color: var(--header-text-color);
            }
        }

        .echo-header-top-menu-bar {
            a {
                color: var(--header-text-color);
            }
        }

        top: var(--height-announcement);

        &.header-sticky {
            top: 0;
        }
    }

    .sign-in-area {
        .sign-in-btn {
            color: var(--header-text-color);
            i {
                color: var(--header-text-color);
            }
        }
    }

    &.no-absolute {
        position: unset;

        .echo-site-main-logo-menu-social {
            background-color: var(--secondary-color) !important;
        }
    }
}

.hero-home-five {
    background-image: var(--background-image) !important;

    .hero-hm5-title {
        h2 {
            color: var(--text-color) !important;
        }
    }

    .hero-hm5-sub-title {
        p {
            color: var(--text-color) !important;

            &:before {
                background-color: var(--text-color) !important;
            }
        }
    }
}

.echo-software-download-full-content-bg {
    background-color: unset !important;
}

.hm5-feature-area {
    .hm5-feature-content {
        .hm5-featurea-main-content {
            .hm5-featurea-meta-content {
                a.title-hover {
                    font-size: 39px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 50px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.echo-software-download-area.sports {
    .echo-software-download-full-content-bg {
        background-image: var(--background-image) !important;
        border-radius: 50px !important;
    }
}

html {
    &:not([data-theme='dark']) {
        .hm5-feature-area {
            .hm5-feature-content {
                .hm5-featurea-main-content {
                    .hm5-featurea-meta-content {
                        a.title-hover {
                            color: var(--text-color);

                            &:hover {
                                background-image: linear-gradient(to right, var(--text-color) 50%, transparent 50%);
                            }
                        }
                    }
                }
            }
        }
    }
}

.header-five {
    &.header-sticky {
        background-color: var(--secondary-color) !important;
    }
}

.hm5-btn-1 {
    white-space: nowrap;
    background-color: var(--primary-color) !important;

    svg {
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
        margin-inline-start: 5px;
    }
}

.hm5-btn-2 {
    white-space: nowrap;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    padding: 16px 25px !important;

    svg {
        width: 16px;
        height: 16px;
        margin-bottom: 5px;
        margin-inline-start: 5px;
    }

    &:hover {
        color: #ffffff !important;
        background-color: var(--primary-color) !important;
    }
}

.echo-footer-area-subscribe-button {
    background-color: var(--primary-color) !important;
}

.hm-5-meta-box {
    .hm-5-meta-btn {
        span {
            background-color: var(--primary-color) !important;
        }
    }
}

.home-five {
    .echo-footer-area4 {
        .footer-top {
            .footer-top-left {
                h3 {
                    font-family: var(--heading-font) !important;
                    color: #ffffff !important;
                }
            }
        }
    }
}

.hm-5-title-btn {
    .hm-5-main-title {
        h2 {
            &:after {
                right: 20px !important;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .hm-5-title-btn {
        .hm-5-main-title {
            h2 {
                &:after, &:before {
                    content: unset !important;
                }
            }
        }
    }
}

.hm5-feature-title {
    .hm-5-main-title {
        h2 {
            color: var(--title-color) !important;

            &:before, &:after {
                background-color: var(--primary-color) !important;
            }
        }
    }
}

.hm-5-meta-box {
    .hm-5-meta-date {
        span {
            color: var(--text-body) !important;
        }
    }
}

.echo-footer-area4 {
    background-image: var(--background-image) !important;

    .footer-top {
        .footer-top-left {
            h3 {
                font-family: var(--heading-font) !important;
                color: var(--color-heading) !important;
            }
        }

        .footer-top-right {
            p.desc {
                font-family: var(--primary-font) !important;
                color: var(--footer-text-color) !important;
            }
        }
    }
}
