:root {
    --color-primary: var(--primary-color);
}

.echo-header-area.header-seven {
    .echo-header-top-home-2 {
        .echo-header-top-subs-social-menu-home-2 {
            .action-buttons-content {
                button {
                    color: #ffffff !important;
                }
            }
        }
    }

    a {
        &:hover {
            color: var(--primary-color) !important;
        }
    }

    &.header-sticky {
        .echo-header-top-menu-bar {
            display: block !important;
        }
    }

    .podcast-area {
        .echo-home-1-social-media-icons {
            .sign-in-area {
                .sign-in-btn {
                    img {
                        width: 35px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .echo-home-2-menu.header-two {
        .echo-site-main-logo-menu-social {
            .lang-switcher {
                margin-inline-end: 1rem !important;
            }
        }
    }
}

@media screen and (max-width: 991px){
    .echo-header-area.header-seven {
        .echo-header-top-menu-bar {
            display: block !important;
        }
    }
}

.echo-food-review-area {
    .left-side-content {
        .echo-hero-baner {
            .echo-hero-banner-main-img {
                img {
                    margin-bottom: -70px;
                }
            }
        }
    }
}

.echo-newsletter-area.home-nine {
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;

    .newsletter-inner {
        .content-title, p.desc {
            color: var(--text-color);
        }
    }
}

.echo-footer-area {
    a {
        color: rgba(255, 255, 255, 0.8);

        &:hover {
            text-decoration: underline;
        }
    }
}

.home-nine {
    .echo-banner-area {
        .slider-area {
            .echo-hero-baner {
                .echo-hero-title {
                    a.title-hover {
                        text-decoration-color: #ffffff !important;
                    }
                }
            }

            .swiper-btn-area {
                .swiper-btn {
                    &:hover {
                        background: var(--primary-color);
                        border: 1px solid var(--primary-color);
                    }
                }
            }
        }
    }

    .echo-dishes-area  {
        .echo-hero-title {
            a.title-hover {
                &:hover {
                    text-decoration-color: #ffffff !important;
                }
            }
        }

        .section-inner {
            .content-area {
                background-color: var(--secondary-color);
            }
        }
    }

    .echo-header-area.header-seven {
        .echo-header-top-home-2 {
            background-color: var(--secondary-color);
        }
    }

    .echo-hero-baner {
        .content {
            .author {
                color: var(--primary-color) !important;
            }
        }
    }

    .echo-hero-baner.small {
        .content {
            .author {
                color: var(--tertiary-color) !important;
                font-family: var(--primary-font) !important;
            }
        }
    }

    &.echo-contact-area {
        .social-area {
            li a {
                &:hover {
                    color: var(--tertiary-color) !important;
                }
            }
        }
    }

    .read-more-btn {
        border: 1px solid var(--primary-color) !important;
        color: var(--primary-color) !important;

        &:hover {
            color: #000000 !important;
            background-color: var(--primary-color) !important;
        }
    }

    .learn-more-btn {
        border: 1px solid var(--tertiary-color) !important;
        color: var(--tertiary-color) !important;

        &:hover {
            color: #ffffff !important;
            background-color: var(--tertiary-color) !important;
        }
    }

    .echo-footer-area-subscribe-button {
        background-color: var(--primary-color) !important;
    }

    .echo-header-top-home-2 {
        .home-2-social {
            .rts-darkmode {
                margin-top: 5px;
            }
        }
    }

    a.title-hover {
        font-family: var(--heading-font);
    }

    .content {
        .echo-hero-discription {
            font-family: var(--primary-font) !important;
        }
    }

    .copyright-content {
        .title {
            font-family: var(--primary-font) !important;
        }
    }

    .echo-header-top-subs-social {
        .echo-subscribe {
            .echo-py-btn {
                &:hover {
                    color: #ffffff !important;
                }
            }
        }
    }

    .echo-header-top-subs-social-menu.btn-newsletter {
        .echo-header-top-subs-social {
            .echo-py-btn {
                background: var(--primary-color) !important;
                color: #000000 !important;

                &:hover {
                    color: #000000 !important;
                }
            }
        }
    }

    .ae-anno-announcement-wrapper {
        .ae-anno-announcement__text, button {
            color: var(--text-color) !important;
        }
    }

    .scroll-top-btn {
        i {
            color: #000000 !important;
        }
    }

    .sign-in-area {
        i {
            color: #000000 !important;
        }
    }
}

.echo-header-top-menu-bar.menu-btn {
    button {
        color: var(--text-body) !important;
    }
}
