.header-three {
    z-index: 2;

    .echo-home-1-menu {
        ul.echo-desktop-menu {
            li.menu-item {
                a {
                    color: #FFFFFF;
                }
            }
        }
    }

    .account-actions {
        button {
            color: #FFFFFF;
        }
    }

    .language-switcher {
        a.dropdown-toggle {
            color: #FFFFFF;
        }
    }
}

.action-buttons-content {
    button {
        color: #FFFFFF;
    }

    .action-buttons-inner {
        min-width: 35px;

        i {
            color: #FFFFFF;
        }
    }
}

@media screen and (min-width: 991px) {
    .home-three {
        .echo-home-1-social-media-icons + .action-buttons-content {
            position: relative;
            margin-left: 20px;

            &:before {
                background-color: #FFFFFF;
                content: "";
                height: 20px;
                left: -15px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
            }
        }

        .echo-header-area.header-sticky {
            .echo-home-1-menu {
                ul.social-area {
                    display: block !important;
                }
            }
        }
    }

    .echo-home-1-menu {
        .echo-header-top-menu-bar {
            display: block !important;

            a {
                color: #ffffff !important;
            }
        }
    }
}

.echo-site-main-logo-menu-social {
    .echo-home-1-social-media-icons {
        margin-right: 10px;
        ul {
            li {
                margin: 0 !important;

                .icon-tabler-wrapper {
                    .icon {
                        width: 20px;
                        margin-bottom: 2px !important;
                    }
                }
            }
        }
    }

    .echo-site-main {
        background-color: var(--secondary-color) !important;
    }
}

.side-bar {
    .echo-home-1-social-media-icons {
        ul.social-area {
            display: flex;
            gap: 10px;

            li {
                a {
                    color: #fff;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}

.home-three {
    &.echo-hero-section {
        background-image: var(--background-image) !important;

        .content-bottom-info {
            .author {
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
        }
    }

    &.echo-hero-section, &.echo-feature-area {
        .post-meta {
            .echo-hero-area-like-read-comment-share {
                color: #ffffff !important;

                span {
                    color: #ffffff;
                }
            }
        }
    }
}

html {
    &:not([data-theme='dark']) {
        .home-three.echo-feature-area {
            .echo-feature-area-last-news {
                a.title-hover {
                    &:hover {
                        text-decoration-color: #ffffff !important;
                    }
                }
            }

            .widget-blog-post-category {
                .post-meta {
                    .echo-hero-area-like-read-comment-share {
                        color: var(--text-body) !important;

                        span {
                            color: var(--text-body) !important;
                        }
                    }
                }
            }
        }
    }
}

.echo-trending-area.home-three {
    background: var(--background-color);
    --text-body-color: var(--text-body) !important;

    .content-catagory-tag {
        background: transparent !important;
        padding: 0 !important;
    }
}


.echo-header-area.header-three {
    top: var(--height-announcement);

    &.no-absolute {
        position: unset !important;
        .header-container {
            padding: 0;
            max-width: 100%;

            .echo-site-main {
                border-radius: 0;
            }
        }
    }
}

.echo-header-area.header-three.header-sticky {
    top: 0;
    position: fixed !important;

    .echo-site-main-logo-menu-social {
        background-color: var(--secondary-color) !important;
    }
}

.home-one {
    .echo-video-area.home-three {
        background-image: var(--background-image) !important;

        .content-catagory-tag {
            color: #FFFFFF !important;
        }

        .echo-bottom-post-area {
            .echo-trending-left-site-post {
                a.title-hover {
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 0;
                    margin-top: 10px;
                    color: var(--text-color);
                }
            }
        }
    }
}

.html[data-theme=light] {
    .home-one {
        .echo-video-area.home-three {
            .wrapper {
                .title {
                    color: var(--color-heading-1) !important;
                }
            }
        }
    }
}

.header-three.no-absolute.header-sticky {
    .echo-header-top-menu-bar {
        a {
            svg {
                path {
                    fill: #FFFFFF;
                }
            }
        }
    }
}

.echo-video-area.home-three {
    margin-bottom: 240px;

    .echo-bottom-post-area {
        .wrapper {
            .echo-trending-left-site-post {
                a.title-hover {
                    color: var(--color-heading) !important;

                    &:hover {
                        text-decoration-color: var(--color-heading) !important;
                    }
                }
            }
        }
    }
}

.echo-feature-area.home-three {
    .post-meta {
        .echo-hero-area-like-read-comment-share {
            color: #FFFFFF;
        }
    }

    .widget-blog-post-category {
        .post-meta {
            .echo-hero-area-like-read-comment-share {
                color: var(--color-gray);
            }
        }
    }
}

.echo-hero-section.home-three {
    .echo-hm2-video-icons {
        margin-inline-start: 20px;

        .video-play-button {
            background: transparent !important;

            span {
                border-left: 14px solid #ffffff !important;
            }

            &:after {
                background: transparent !important;
            }
        }
    }

    .echo-hero-right-side {
        .right-side-inner {
            .content {
                .content-title1 {
                    font-family: var(--heading-font) !important;
                }
            }
        }
    }

    @media screen and (max-width: 576px) {
        .echo-button-wrapper {
            flex-direction: unset !important;
            align-items: center !important;

            a.rts-btn {
                margin-bottom: unset !important;
            }
        }
    }
}

.home-three {
    --color-primary-m: var(--primary-color) !important;

    .swiper-btn {
        .swiper-button-next {
            background-color: var(--primary-color) !important;
        }

        .swiper-button-prev {
            &:hover {
                background-color: var(--primary-color) !important;
            }
        }
    }

    .desc {
        font-family: var(--primary-font) !important;

        p {
            font-family: var(--primary-font) !important;
        }
    }

    .echo-hero-inner {
        a.title-hover {
            &:hover {
                text-decoration-color: var(--text-body-color) !important;
            }
        }

        .banner-content {
            .contents {
                .desc {
                    p {
                        color: var(--text-body);
                    }
                }
            }
        }
    }

    &.echo-feature-area::before {
        background-image: unset !important;
    }

    .widget-blog-post-category.echo-home-1-hero-area-top-story {
        .echo-top-story {
            .echo-story-picture.img-transition-scale {
                height: 100px;
            }
        }
    }

    .language-switcher {
        a {
            color: #FFFFFF;
        }
    }

    .echo-header-top-menu-bar.menu-btn {
        a {
            svg {
                path {
                    fill: #FFFFFF;
                }
            }
        }
    }

    .sign-in-area {
        .sign-in-btn {
            margin-inline-end: 20px;
        }
    }

    .echo-footer-social-media {
        a {
            line-height: 30px !important;
        }
    }
}

.content-catagory-tag {
    width: auto !important;
    display: inline-block !important;
    padding: 0 10px;
    background-color: var(--tertiary-color) !important;
}

.echo-latest-news-area {
    .echo-latest-news-content {
        .echo-latest-news-main-content {
            a {
                .content-catagory-tag {
                    overflow: hidden !important;
                }
            }
        }
    }
}

.echo-hero-section, .echo-feature-area {
    p.desc {
        color: var(--text-body-color) !important;
    }

    .desc {
        p {
            color: var(--text-body-color) !important;
        }
    }

    .post-meta {
        --text-body-color: #ffffff !important;

        .echo-hero-area-like-read-comment-share {
            color: var(--text-body-color) !important;

            span {
                color: var(--text-body-color) !important;
            }
        }
    }
}

.echo-trending-right-site-post-title, .content {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;

    .content-catagory-tag {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.echo-feature-area-right-site-follower {
    ul {
        li {
            a {
                font-size: 14px !important;
            }
        }
    }
}

.content-catagory-tag {
    font-family: var(--primary-font) !important;
}
