:root {
    --color-primary: var(--primary-color);
}

.echo-header-area.header-seven {
    .echo-full-header-top {
        .home-2-social {
            ul {
                li {
                    a {
                        color: #454545 !important;
                    }
                }
            }
        }
    }

    .podcast-area {
        .echo-home-1-social-media-icons {
            .sign-in-area {
                .sign-in-btn {
                    img {
                        width: 35px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    &.header-sticky {
        .echo-header-top-menu-bar {
            display: block !important;
        }
    }

    .echo-header-top-home-2 {
        .home-2-row {
            .home-2-social {
                .echo-subscribe {
                    button {
                        background: var(--gradient-color) !important;
                    }
                }
            }
        }
    }

    .echo-home-1-social-media-icons {
        .sign-in-area {
            a {
                i {
                    background: var(--gradient-color) !important;
                }
            }
        }
    }
}

.home-seven button {
    background: var(--gradient-color) !important;
    color: #ffffff;
}

.echo-home-2-menu.header-two {
    .echo-site-main-logo-menu-social {
        .lang-switcher {
            margin-inline-end: 1rem !important;
        }
    }
}

@media screen and (max-width: 991px){
    .echo-header-area.header-seven {
        .echo-header-top-menu-bar {
            display: block !important;
        }
    }
}

@media screen and (max-width: 600px){
    .action-buttons-content {
        .home-2-social {
            .rts-darkmode {
                margin-bottom: 5px;
            }
        }
    }
}

html[data-theme='dark'] {
    .echo-header-area.header-seven {
        .home-2-social {
            ul li a {
                color: #ffffff !important;
            }
        }
    }

    .echo-banner-area.home-seven {
        a.title-hover {
            &:hover {
                color: var(--color-heading-1);
            }

            &:hover {
                background-image: linear-gradient(to right, var(--text-color) 50%, transparent 50%);
            }
        }
    }
}

.echo-video-area.home-seven {
    .echo-home-1-hero-area-top-story {
        .echo-top-story {
            .echo-story-text {
                a.title-hover {
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 45px;
                    margin-top: 20px;

                    font-family: var(--heading-font) !important;
                }
            }
        }
    }

    a.title-hover {
        &:hover {
            text-decoration-color: var(--text-color) !important;
        }
    }

    .category-badge {
        color: #ffffff !important;
    }
}

.echo-business-area {
    .echo-hero-baner {
        .content {
            a {
                span {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.echo-banner-area.home-seven {
    .echo-hero-baner {
        .echo-hero-banner-main-img {
            img.banner-image-one.w-100 {
                margin-bottom: -30px;
            }
        }
    }
}

.author {
    color: var(--primary-color) !important;
}

.echo-financial-area {
    .details-share {
        button {
            background: unset !important;
        }
    }
}

a.echo-header-top-search-btn {
    color: #454545 !important;
}

.echo-header-top-menu-bar {
    button {
        background: unset !important;
        color: unset !important;
    }
}
.home-seven {
    .echo-hero-title {
        font-family: var(--heading-font) !important;
    }

    .content {
        .author {
            svg {
                margin-right: unset !important;
                margin-inline-end: 5px !important;
            }
        }
    }

    .post-area {
        .echo-hero-baner.small {
            .content {
                .author {
                    svg {
                        margin-top: -4px;
                    }
                }
            }
        }
    }

    .echo-story-text {
        .pe-none {
            svg {
                margin-inline-end: 5px !important;
                margin-top: -5px;
            }
        }
    }
}

.ae-anno-announcement-wrapper {
    button {
        background: unset !important;
    }
}

.category-badge {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--primary-color) !important;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}

.echo-footer-area {
    .echo-row {
        .echo-get-in-tuch {
            h4 {
                color: var(--footer-heading-color) !important;
            }
        }
    }
}

.home-seven {
    .search-input-area {
        .search-input-inner {
            .search-close-icon i {
                background-color: var(--primary-color) !important;
            }
        }
    }
}
